<nav fxLayoutAlign="start center">
    <a href="javascript:void(0)" fxLayoutAlign="center center">
        <img src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/flipkart-plus_8d85f4.png"
            alt="flipkart Logo" width="75px">
    </a>

    <div class="search-box" fxLayoutAlign="start center">
        <input type="text" placeholder="Search for products, brands and more">
        <svg width="20" height="20" viewBox="0 0 17 18" class="" xmlns="http://www.w3.org/2000/svg">
            <g fill="#2874F1" fill-rule="evenodd">
                <path class="_34RNph"
                    d="m11.618 9.897l4.225 4.212c.092.092.101.232.02.313l-1.465 1.46c-.081.081-.221.072-.314-.02l-4.216-4.203">
                </path>
                <path class="_34RNph"
                    d="m6.486 10.901c-2.42 0-4.381-1.956-4.381-4.368 0-2.413 1.961-4.369 4.381-4.369 2.42 0 4.381 1.956 4.381 4.369 0 2.413-1.961 4.368-4.381 4.368m0-10.835c-3.582 0-6.486 2.895-6.486 6.467 0 3.572 2.904 6.467 6.486 6.467 3.582 0 6.486-2.895 6.486-6.467 0-3.572-2.904-6.467-6.486-6.467">
                </path>
            </g>
        </svg>
    </div>
    <div class="action-box" fxLayoutAlign="start center">
        <a href="javascript:void(0)" fxLayoutAlign="center center">
            <span>MUKESH</span>
        </a>
        <a href="javascript:void(0)" fxLayoutAlign="center center">
            <span>More</span>
        </a>
        <a href="javascript:void(0)" class="cart-btn" fxLayoutAlign="center center">
            <img src="./assets/images/cart-white.svg" alt="cart-white">
            <span>Cart</span>
        </a>
    </div>
</nav>